.journal {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.journal:hover {
  cursor: pointer;
  box-shadow: 0 0 4px var(--color-grey);
}

.date,
.title,
.text {
  margin: 0;
  padding: 2px 0;
}

.date {
  font-size: 1rem;
  color: var(--color-text);
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-accent);
}

.text {
  font-size: 0.9rem;
  color: var(--color-text);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
